@import '@radix-ui/themes/styles.css';
/* @import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css"; */
:root {
  color-scheme: light dark;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}
input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Edge, Safari */
  margin: 0;
}
