.filter-modal {
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .filter-modal {
    width: 93vw !important;
    height: 98vh !important;
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
    border-radius: 0 !important;
    padding: 16px !important;
  }
}
